body {
    background-color: black;
}

.main-container {
    color: white;
    font-family: 'Space Mono', monospace;
    max-width: 660px;
    margin: 1em auto;
}

.main-container > h1 {
    text-align: center;
}

.commandments {
    background-color: rgb(24, 81, 94);
    padding: 10px;
    border-radius: 10px;
    border: 1em;
}

li {
    font-family: 'Karla', sans-serif;
    padding: 10px;
}

footer {
    color: gray;
    text-align: center;
}